
@media screen and (max-width: 700px){
    /* MENU */
.navbar{
    width: 50px;
    }
/* FORMULARIO */

.card{
    padding-top: 100px;
    width: 270px;
}

.container{
    position: relative;
    left:2rem;
}
.iconos{
    margin-top: 30px;
}
 .iconos a{
    color:black;
    font-weight:450;
    font-size: 20px;
    text-decoration: none;

} 


.form-control{
    background-color: rgba(255, 255, 255, 0.274);
    width: 250px;
}
}